*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#333;
    color:white;
    padding:15px 50px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

/* Hero Section */
.hero{
    text-align:center;
    padding:80px 20px;
    background:#7b3939;
}

.hero h2{
    font-size:40px;
    margin-bottom:10px;
}

.hero button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background:#007BFF;
    color:white;
    cursor:pointer;
}

/* Features Section */
.features{
    display:flex;
    justify-content:space-around;
    padding:100px;
    background-color: rgb(8, 71, 71);
}

.box{
    width:250px;
    padding:20px;
    background:#eee;
    text-align:center;
    border-radius:10px;
}

/* Footer */
footer{
    text-align:center;
    padding:30px;
    background:#333;
    color:white;
}